In [7]:
data = '{"Employee_name":"James","email":"assdas@gmail.com","Job_profile":[{"title1":"teamlead","title2":"manager"}]}'

In [8]:
type(data)

str

In [9]:
import pandas as pd

In [10]:
df = pd.read_json(data)

In [11]:
df

  Employee_name             email                                  Job_profile
0         James  assdas@gmail.com  {'title1': 'teamlead', 'title2': 'manager'}

In [12]:
pd.read_json(data,orient='record')

  Employee_name             email                                  Job_profile
0         James  assdas@gmail.com  {'title1': 'teamlead', 'title2': 'manager'}

In [14]:
pd.read_json(data,orient='index')

                                                           0
Employee_name                                          James
email                                       assdas@gmail.com
Job_profile    [{'title1': 'teamlead', 'title2': 'manager'}]

In [15]:
pd.read_json(data,orient='columns')

  Employee_name             email                                  Job_profile
0         James  assdas@gmail.com  {'title1': 'teamlead', 'title2': 'manager'}

In [19]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],
            index = ['row1','row2'],
            columns = ['col1','col2','col3','col4'])

In [20]:
df

      col1  col2  col3  col4
row1     1     2     3     4
row2     5     6     7     8

In [21]:
df.to_json()

'{"col1":{"row1":1,"row2":5},"col2":{"row1":2,"row2":6},"col3":{"row1":3,"row2":7},"col4":{"row1":4,"row2":8}}'

In [23]:
df.to_json(orient='columns')

'{"col1":{"row1":1,"row2":5},"col2":{"row1":2,"row2":6},"col3":{"row1":3,"row2":7},"col4":{"row1":4,"row2":8}}'

In [22]:
df.to_json(orient='index')

'{"row1":{"col1":1,"col2":2,"col3":3,"col4":4},"row2":{"col1":5,"col2":6,"col3":7,"col4":8}}'

In [25]:
df.to_json(orient='records')

'[{"col1":1,"col2":2,"col3":3,"col4":4},{"col1":5,"col2":6,"col3":7,"col4":8}]'